.container {
 margin: 0 auto;
 width: 95%;
 padding: 7px;
 border: 1px solid transparent;
 border-radius: 8px;
 color: #FFF;
 background-color: #303030;
}
.top {
  position: fixed;
  display: flex;
  margin: -7px;
  padding: 0 10px 0 10px;
  top: 0;
  width: 94%;
  border: none;
  background-color: #303030;
  z-index: 101;
}
.personal-info-settings-div {
  margin: 0 auto;
  font-weight: 500;
}

.error-div {
  position: relative;
  animation: drop-down 0.5s ease-in-out;
}
@keyframes drop-down {
0% {
  top: -100px;
  opacity: 0;
}
100% {
  top: 0;
  opacity: 1;
}
}

.error-div {
  display: none;
  position: absolute;
  padding: 0 10px 15px 0;
  width: 92%;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  color: grey;
  background: linear-gradient(to right, #00A86B 3%, #FFD700 3%);
  background-size: 100% 100%;
  overflow: hidden;
  z-index: 1000;
}
.error-svg-div {
  margin: 40px 0 0 15px;
  width: 7%;
}
#error-svg {
  width: 100%;
}
.error-div-texts {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  margin-left: 50px;
}
.error-div-texts * {
  margin: 0;
}
#error-p {
  font-size: 17px;
  font-weight: bold;
}
#error-description {
  margin-top: 10px;
  font-size: 14px;
}

input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #A7A7A7;
}
input {
  padding: 0 0 0 12px;
}

.names-div, .nickname-div, .phone-div, .email-div {
  margin-top: 7px;
}

#names-label, #nickname-label, #phone-label, #email-label {
  font-size: 13px;
  font-weight: 400;
  color: #FFF;
}
.names-phone-email {
  border: none;
}
.names-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  gap: 5px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background-color: #3D3D3D;
}
#names-input {
  width: 90%;
  font-size: 17px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  color: #E0E0E0;
  background-color: #3D3D3D;
}

.nickname-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  gap: 5px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background-color: #3D3D3D;
}
#nickname-input {
  width: 90%;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #E0E0E0;
  background-color: #3D3D3D;
}

.phone-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  gap: 5px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background-color: #3D3D3D;
}
#phone-input {
  width: 90%;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #E0E0E0;
  background-color: #3D3D3D;
}

.email-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background-color: #3D3D3D;
}
#email-input {
  width: 90%;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #E0E0E0;
  background-color: #3D3D3D;
}

.names-div:has(input:focus), .phone-div:has(input:focus), .email-div:has(input:focus) {
  border: 2px solid #FFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #3D3D3D inset !important;
  box-shadow: 0 0 0 1000px #3D3D3D inset !important;
  color: #E0E0E0 !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #E0E0E0 !important;
}

.update-button-div {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#update-button {
  border: none;
  outline: none;
  width: 60%;
  height: 44px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  color: #E0E0E0;
  background-color: #00A86B;
}






