.container {
 margin: 0 auto;
 width: 95%;
 padding: 7px;
 border: 1px solid transparent;
 border-radius: 8px;
 color: #FFF;
 background-color: #2D2D2D;
}
.top {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: -7px;
  padding: 0 10px 0 10px;
  width: 95%;
  border: none;
  color: #FFF;
  background-color: #007f51;
  background-color: #1B1B1B;
  z-index: 1000;
}
#transactions-top-h {
  font-size: 18px;
  text-align: center;
}

.balances-div {
  position: fixed;
  width: 90%;
  width: 100%;
  margin: -2px 0 0 -10px;
  border: none;
  border-bottom: 0.5px solid #E0E0E0;
  color: #FFF;
  background-color: #007f51;
  background-color: #1B1B1B;
  z-index: 1000;
}
.available-balance-div {
  text-align: center;
}
.available-balance-div * {
  margin-top: 5px;
}
#available-balance-p {
  font-size: 14px;
  font-weight: 300;
}
#balance-h {
  font-size: 26px;
}

.recent-transactions-div {
  margin-top: -10px;
  padding: 1px 10px 5px 10px;
  border-radius: 10px;
  color: #FFF;
  background-color: #373737;
}
#all-transactions-h {
  text-align: center;
}
.receipts-home {
  width: 91%;
  margin: 0 auto;
  padding: 0 10px 5px 20px;
  border-radius: 10px;
  color: #FFF;
  background-color: #3D3D3D;
}
.transaction-img-div {
  display: flex;
  position: absolute;
  width: 10%;
  margin: 20px -15px;
}
.transaction-img {
  width: 32px;
  margin: 7% 0 0 2px;
  border-radius: 50%;
}

.margined-text-div {
  margin: 0px 0px -5px 27px;
}
.transaction-name-and-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.transaction-name {
  font-size: 12px;
  font-weight: 500;
}
.transaction-amount {
  font-size: 13px;
  font-weight: 500;
  color: #FFF;
}

.phone-number-div {
  margin-top: -24px;
  font-size: 12px;
  font-weight: 500;
}

.transaction-status-and-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -19px;
}
.transaction-status {
  padding: 3px;
  font-size: 11px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #00B875;
}
.transaction-time {
  font-size: 12px;
  font-weight: 500;
  color: #E0E0E0;
  color: grey;
}
.seperator {
  width: 100%;
  border: none;
  height: 0.1px;
  margin-top: 0px;
  color: grey;
  background-color: grey;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 99%;
  margin: -7px;
  background-color: #282828;
}
#copyright-claim-p {
  font-size: 10px;
  font-weight: bold;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  margin: 0px -7px;
  padding: 7px 5px;
  bottom: 0;
  width: 96%;
  background-color: #3A3A3A;
}
.nav-item {
  text-decoration: none;
  flex: 1;
  text-align: center;
  font-size: 30px;
  transition: 0.3s;
  color: #AAA;
}
.nav-item.active {
  border-radius: 20px;
  color: #FFF;
  background-color: #282828;
}
.nav-item:hover {
  border-radius: 20px;
  color: #FFF;
  background-color: #303030;
}


